body {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

p {
	background-color: aquamarine;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
