<h1>instructor</h1>

<div class="row">
    <div class="col-sm-4">
        <h2>Professor Nic Aguirre</h2>
        <p>
            <b>M.F.A.</b>, Interactive Media <small>University of Miami</small>
            <br/> 
            <b>B.S.B.A</b>, Finance <small>University of Central Florida</small>
        </p>
        <ul>
            <li><b>office hours:</b> <br> FF M130S (Stack 4), Friday 10:00-11:00a</li>
            <li><b>email:</b> <br> naguirre (at) indiana (dot) edu</li>
            <li><b>site:</b> <br> <a href="http://nagu.io">nagu.io</a></li>
            <li>
                <a class="btn btn-social-icon btn-github" href="http://github.com/novoNagu"><span class="fa fa-github"></span></a><a class="btn btn-social-icon btn-twitter" href="http://twitter.com/novonagu"><span class="fa fa-twitter"></span></a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        <p>
            Data scientist and web developer. Self-taught computer programmer, proficient in Java/Processing, JavaScript, and the D3.js library.
            Not a conventional artist, but I love computer-generative art. Future ambitions include learning R and Python, and improving familiarity with Tableau.
        </p>
    </div>
    <div class="col-sm-4">
        <img class="rounded" src="{{site.baseurl}}/img/prof.jpg" alt="Professor Nic" id="professor" />
    </div>
</div>