<div class="row"><div class="col-sm-12"><h2>Nic Aguirre</h2></div></div>
<div class="row">
    <div class="col-sm-4" id="profile-sidebar">
        <p>
            <b>MFA</b>, Interactive Media <small>University of Miami</small>
            <br/> 
            <b>BSBA</b>, Finance <small>University of Central Florida</small>
            <br/>
            <b>CHt</b>, <small>Hypnosis Motivation Institute</small>
        </p>
        <ul>
            <li><b>office hours:</b> Mondays 1:30pm - 2:30pm</li>
            <li><a href="https://iu.zoom.us/my/naguirre">https://iu.zoom.us/my/naguirre</a></li>
            <li><b>email:</b> <br> naguirre (at) indiana (dot) edu</li>
            <!--<li><b>site:</b> <br> <a href="http://nagu.io">nagu.io</a></li>-->
            <!--<li><a class="btn btn-social-icon btn-github" href="http://github.com/novoNagu"><span class="fa fa-github"></span></a><a class="btn btn-social-icon btn-twitter" href="http://twitter.com/novonagu"><span class="fa fa-twitter"></span></a></li>-->
        </ul>
    </div>
    <div class="col-sm-4">
        <p>
            Web developer. Generative Artist.
            <a href="https://www.youtube.com/professornic?sub_confirmation=1">Youtuber.</a>
            <a href="https://www.instagram.com/nicnosis/">Hypnotist.</a>
        </p>
        <p>My values are creativity, authenticity, and courage.</p>
        <p>I am passionate about helping people become the strongest version of themselves. I am on a mission to provide a transformational experience for 1,000,000 people.</p>
    </div>
    <div class="col-sm-4">
        <img class="rounded" src="{{site.baseurl}}/img/prof.png" alt="Professor Nic" id="professor" />
    </div>
</div>