body {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 20px;
    border: 1px solid lightgrey;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
}

.special {
	color: #990000;
}

h1 {
	margin-left: 20px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}