$red: #FF5370;
$boldred: #AB495A;
$gray: rgba(0, 0, 0, 0.15);
$headerFont: 'Lato', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$codeFont: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

b, strong {
  color: $boldred;
}

code.highlighter-rouge {
  color: $red;
  background-color: #e8e8ed;
}

.container {
  font-family: $bodyFont;

  h1, h2, h3, h4, h5, h6 { font-family: $headerFont; }
  h1 { padding-top: 15px; }
  h2 {
    color: $red;
    margin: .5em auto;
    padding-top: .5em;
    border-top: 1px solid $gray;
  }

  li {
    padding-left: 1em;
    line-height: 2em;
  }

  .coded {
    p, h1, h2, h3, h4, ul li {
      font-family: $codeFont;
    }
    ul li {
      color: rgb(60, 60, 60);
    }
    .highlighter-rouge {
      font-size: 16px;
    }
  }
}

img#professor {
  width: 100%;
}
footer {
  color: #9A9A9A;
}
a.btn.btn-social-icon {
  margin-top: 10px;
  margin-right: 5px;
}
span.fa.fa-github, span.fa.fa-twitter {
  color: white;
}

/*******************************************
*  NAV
*******************************************/
nav#myNav {
  padding: 0;
  border-bottom: 1px solid $gray;

  a {
    padding: 10px;
  }
}
.nav-item.active {
  border-bottom: 2px solid $red;
}