$red: #FF0000;
$crimson: #990000;

.container h2 {
  color: $red;
}
img#professor {
  width: 250px;
}


/*******************************************
*  NAV
*******************************************/
nav#myNav {
  padding: 0;

  a {
    padding: 10px;
  }
}
.nav-item.active {
  border-bottom: 2px solid $red;
}