/*** Nav ***/
a.navbar-brand {
    //font-family: $codeFont;
    font-family: $secondaryFont;
    letter-spacing: .1em;
}
nav#myNav {
    background: rgba(255, 255, 255, 0.9);
    padding: 0;
    a {
        padding: 10px;
    }
}
.nav-item.active {
    border-bottom: 2px solid $primaryColor;
}
.navbar-light .navbar-nav .active.active-color>.nav-link {
    color: $primaryColor;
}

.nav-item a.nav-link {
    font-weight: 500;
}
/*** End Nav ***/