/* COLORS AND FONTS */
$primaryColor: #b8497d; // vin rouge
$boldColor: #a02b4d;
$gray: rgba(0, 0, 0, 0.15);
$secondaryFont: 'Oswald', sans-serif;
$primaryFont: 'Open Sans', sans-serif;
$codeFont: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
/* END COLORS AND FONTS */
