/*******************************************
*  PALETTE
*******************************************/
body {
  background: #272822;
  color: #eeedeb;
}
#sidebar-wrapper {
  background: #3d3d3d;
}
#sidebar-wrapper a:hover {
  color: #e6db74;
}
#sidebar-wrapper > ul > li.sidebar-brand {
  padding-left: 20px;
  padding-top: 5px;
}
#sidebar-wrapper > ul > li.sidebar-brand > a {
  color: #f9266f;
}
img.monogram {
  float: left;
  width: 40px;
  height: auto;
}
a {
  color: #66d9ef;
}
a:hover {
  color: #e6db74;
  text-decoration: none;
}
h2,
h3 {
  color: #f9266f;
}
h4 {
  font-size: 16px;
}
li {
  list-style: none;
}
.indent {
  padding-left: 2em;
}
