$crimson = #990000
$cream = #EEEDEB

body
  background $cream

#sidebar-wrapper
  background $crimson
  a
    color $cream

img.monogram
  float left
  width 40px
  height auto

a
  color #BD0000
  //color #F25B19
h3
  color $crimson
h4
  font-size 16px

li
  list-style none

.indent
  padding-left 2em