/*******************************************
*  PALETTE
*******************************************/
$crimson = #990000
$red = #BD0000
$cream = #EEEDEB

$grey1 = #3D3D3D
$grey2 = #444444

$lightblue = #94D8FD
$blue = #2961CF
$lightgrey = #D5D3D5

$maire = #272822
$mercury = #E6E6E6
$pink = #F9266F
$lima = #6CC72C
$orange = #FE9720
$straw = #E6DB74
$sublRobin = #66D9EF


$c1 = $crimson
$c2 = $cream

$sbColor = $grey1
$bodyColor = $maire

body
  font-family 'Open Sans', sans-serif
  background $bodyColor
  color $cream

.big
  font-size larger

.indent
  padding-left 2em

/***** NAV ************************/
#sidebar-wrapper
  background $sbColor
  a
    color $cream
  a:hover
    color $straw

#sidebar-wrapper > ul > li.sidebar-brand
  padding-left: 20px;
  padding-top: 5px;

#sidebar-wrapper > ul > li.sidebar-brand > a
  color $pink

img.monogram
  float left
  width 40px
  height auto

#sidebar-wrapper > ul > li.dropdown.open > ul
  background: #272822
  margin-left 20px
/**********************************/

a
  //color $pink
  color $sublRobin
a:hover
  color $orange
  text-decoration none

b
  color $straw
  letter-spacing 1px

button.btn-iu
  background-color #1f1c2c
  border-radius 10px

button.btn-iu:hover
  color $pink

h2:after
  content:' ';
  display:block;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);


h2, h3
  font-family: 'Roboto', sans-serif;
  font-weight normal
  letter-spacing 1px
  //font-family Monaco, Menlo, Consolas, "Courier New", monospace
  color $pink
h4
  margin-top 10px
  margin-bottom 5px
  font-family 'Roboto', sans-serif
  color $lima
  font-size 16px

dd
  padding-left 2em
li
  list-style none
  padding-bottom 0.4em
