<!--Make variable that combines term and course-->
{% assign term_course = {{page.term}}  | append: '/' | append: {{page.course}} %}
{% assign path = {{site.baseurl}} | append: '/' | append: {{term_course}} %}

<nav class="navbar navbar-light bg-faded navbar-fixed-top" id="myNav">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <!-- BRAND -->
            <li class="nav-item">
                <a href="{{path}}/.." class="navbar-brand">{{term_course}}</a>
            </li>

            <li class="nav-item" id="nav-home"><a class="nav-link" href="{{path}}/index.html">home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item" id="nav-instructor"><a class="nav-link" href="{{path}}/instructor.html">instructor</a></li>

            <!--SYLLABUS-->
            <li class="nav-item" id="nav-syllabus"><a class="nav-link" href="{{path}}/{{page.course}}-syllabus.pdf">syllabus</a></li>
            <!--END SYLLABUS-->

            <!-- COURSE MATERIALS -->
            {% if page.course != 'dbi' %}
            <!--Note: DBI has no course materials tab-->
            <li class="nav-item dropdown" id="nav-materials">
                <a class="nav-link dropdown-toggle" href="#" id="nav-link-materials" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">materials</a>
                <div class="dropdown-menu" aria-labelledby="nav-link-materials">

                    <!--WEB DESIGN-->
                    {% if page.course == 'j360' %}
                    <a class="dropdown-item" target="_blank" href="http://www.htmlcssvqs.com/8ed/examples/">Text Companion Site</a>
                    <a class="dropdown-item" target="_blank" href="https://www.codecademy.com/courses/learn-html-css/">Codecademy</a>
                    <a class="dropdown-item" target="_blank" href="https://www.w3schools.com/">W3Schools</a>
                    <a class="dropdown-item" target="_blank" href="{{path}}/atom.html">Using Atom</a>
                    {% endif %}

                    <!--GRAPHIC DESIGN-->
                    {% if page.course == 'j463' %}
                    <a class="dropdown-item" target="_blank" href="https://mcpl.info/">MCPL</a>
                    <a class="dropdown-item" target="_blank" href="https://iuware.iu.edu/">IUWare</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            <!-- END COURSE MATERIALS -->

            <!-- ASSIGNMENTS -->
            <li class="nav-item dropdown" id="nav-assignments">
                <a class="nav-link dropdown-toggle" href="#" id="nav-link-assignments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">assignments</a>
                <div class="dropdown-menu" aria-labelledby="nav-link-assignments">

                    <!--FALL 2017-->
                    <!-- WEB DESIGN -->
                    {% if page.course == 'j360' %}
                    <a href="{{path}}/assignments/hw1.html" class="dropdown-item">Homework One</a>
                    <a href="{{path}}/assignments/hw2.html" class="dropdown-item">Homework Two</a>
                    <a href="{{path}}/assignments/hw3.html" class="dropdown-item">Homework Three</a>
                    <a href="{{path}}/assignments/hw4.html" class="dropdown-item">Homework Four</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path}}/assignments/p1.html" class="dropdown-item">Project One</a>
                    <a href="{{path}}/assignments/p2.html" class="dropdown-item">Project Two</a>
                    <a href="{{path}}/assignments/p3.html" class="dropdown-item active">Project Three</a>
                    {% endif %}

                    <!-- GRAPHIC DESIGN -->
                    {% if page.course == 'j463' %}
                    <a href="{{path}}/assignments/hw1.html" class="dropdown-item">Homework One</a>
                    <a href="{{path}}/assignments/hw2.html" class="dropdown-item">Homework Two</a>
                    <a href="{{path}}/assignments/hw3.html" class="dropdown-item">Homework Three</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path}}/assignments/p1.html" class="dropdown-item">Project One</a>
                    <a href="{{path}}/assignments/p2.html" class="dropdown-item">Project Two</a>
                    <a href="{{path}}/assignments/p3.html" class="dropdown-item">Project Three</a>
                    <a href="{{path}}/assignments/p4.html" class="dropdown-item active">Project Four</a>
                    {% endif %}

                    <!-- DESIGNING BRAND IDENTITY -->
                    {% if page.course == 'dbi' %}
                    <a href="{{path}}/assignments/hw1.pdf" class="dropdown-item">HW1 &mdash; Words and Images</a>
                    <a href="{{path}}/assignments/logo.html" class="dropdown-item">HW2 &mdash; Logo Interpretation</a>
                    <a href="{{path}}/assignments/final-ideation.html" class="dropdown-item">HW3 &mdash; Final Ideation</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path}}/assignments/concept.html" class="dropdown-item">Project 1 &mdash; Brand Concept</a>
                    <a href="{{path}}/assignments/style-guide.html" class="dropdown-item">Project 2 &mdash; Style Guide</a>
                    <a href="{{path}}/assignments/final.html" class="dropdown-item active">Project 3 &mdash; Final</a>
                    {% endif %}
                    <!--END FALL 2017-->
                </div>
            </li>
            <!-- END ASSIGNMENTS -->
        </ul>
    </div>
</nav>
