<!DOCTYPE html>
<html lang="en">
<head>{% include head.html %}</head>
<body>
{% if page.term != nil %}
{% include navs/{{page.term}}-nav.html %}
{% endif %}

{% include hero.html %}

<div class="container">

    <h1>home</h1>
    <div class="row">
        <!-- weeks nav goes here-->
        <div class="col-md-2" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked hidden-sm-down" data-spy="affix" data-offset-top="100" id="weeks-nav"></ul>
        </div>
        <!-- weeks content goes here-->
        <div class="col-md-10" id="weeks-content">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}

<!--DO LINKS-->
<script>
    const $h2 = $('h2');
    for (var i = 0; i < $h2.length; i++) {
        var id = $h2[i].id;
        var text = id.replace('-',' ');
        var li = '<li><a href="#' + id + '">' + text +  '</a>';
        $('ul#weeks-nav').append(li);
    }
</script>


<!--GRANIM STUFF-->
<!--load different colors based on course-->
{% if page.course == 'g290' %}
<script>
    let gradients = [
        ['#ff9966', '#ff5e62'],
        ['#ff385c', '#ffb35b']
    ];
</script>
{% else %}
<script>
    let gradients = [
        ['#00F260', '#0575E6'],
        ['#1d9fe6', '#caf24a']
    ];
</script>
{% endif %}

<script>
var granimInstance = new Granim({
    element: '#granim',
    direction: 'left-right',
    isPausedWhenNotInView: true,
    states : {
        "default-state": {

        gradients: gradients

        }
    }
});
</script>




</body>
</html>